/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/styles/index.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.styles_homeContainer__bfxZJ {
  padding: 20px;
  text-align: center;
}

.styles_errorMessage__Z9Xp5 {
  color: red;
  font-size: 18px;
  margin-top: 10px;
}

.styles_errorButton__mc9da {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4c4c;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
}

.styles_errorButton__mc9da:hover {
  background-color: #c82333;
}

.styles_errorMessage__Z9Xp5 {
  color: #ff4c4c;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.styles_homeContainer__bfxZJ {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.styles_sidePanel__gOiVY {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  max-width: 300px;
  height: 100vh;
  background-color: var(--card-bg);
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  z-index: 1001;
  transform: translateX(100%);
  animation: styles_slideIn__10cPr 0.3s forwards;
}

@keyframes styles_slideIn__10cPr {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.styles_closePanelButton__rS27F {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: var(--close-button-color);
  border: none;
  cursor: pointer;
}

.styles_overlay__nX9Uu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/VideoBackground/VideoBackground.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.VideoBackground_videoBackground__2vTHj {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Search/Search.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Search_search-container__xkpAu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 15px;
  align-items: center;
  gap: 15px;
}

.Search_search-container__xkpAu input {
  height: 42px;
  width: 350px;
  font-size: 18px;
  padding: 4px 12px;
  color: var(--search-input-text-color);
  border-radius: 12px;
  background-color: var(--search-input-color);
}

.Search_search-container__xkpAu .Search_search-button__U2fXU {
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 18px;
  background-color: var(--search-button);
  color: #fffaf0;
  width: 120px;
}

.Search_search-button__U2fXU:hover {
  background-color: #fffaf0;
  color: #20b2aa;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Card/Card.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__RlVbj {
  border-radius: 8px;
  background-color: var(--card-bg);
  padding: 12px;
  margin: 8px 12px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  border: 5px solid var(--card-border);
  color: var(--card-text);
}

.Card_image__MTxJg {
  width: 100%;
  min-height: 300px;
  height: 300px;
  border-radius: 18px;
  margin-bottom: 12px;
  border: 2px solid var(--card-border);
}

.Card_placeholder__w0F4i {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #888888;
  margin-bottom: 12px;
}

.Card_card__RlVbj h3 {
  margin: 8px 0;
  font-size: 1.2rem;
  text-align: center;
}

.Card_card__RlVbj h4 {
  margin-bottom: 15px;
}

.Card_card__RlVbj p {
  width: 100%;
  font-size: 0.9rem;
  color: #666666;
  color: var(--card-text);
  text-align: center;
  overflow-wrap: break-word;
  white-space: normal;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #20b2aa #e6e6fa;
  border: 1px solid #20b2aa;
  border-radius: 7px;
  padding: 12px 4px;
}

.Card_card__RlVbj input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
  background: #fff;
  border: 2px solid var(--card-border);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.Card_card__RlVbj input[type='checkbox']:checked {
  background: var(--card-border);
}

.Card_card__RlVbj input[type='checkbox']:checked::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid var(--card-text);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.Card_card__RlVbj input[type='checkbox'] {
  flex-shrink: 0;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/CardList/CardList.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.CardList_cardList__q7ODc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  margin-top: 16px;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Spinner/Spinner.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Spinner_spinner__sunKh {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 6px solid #20b2aa;
  box-sizing: border-box;
  animation: Spinner_rotation__KJtb6 1s linear infinite;
}
.Spinner_spinner__sunKh::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 4px;
  border: 6px solid #fffaf0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
@keyframes Spinner_rotation__KJtb6 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/Pagination/Pagination.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.Pagination_pagination__c7olK {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.Pagination_pagination__c7olK button {
  padding: 5px 10px;
  border: none;
  background-color: var(--pagination-button);
  cursor: pointer;
}

.Pagination_pagination__c7olK button:disabled {
  opacity: 0.6;
  cursor: default;
}

.Pagination_active__xC1TQ {
  background-color: #333;
  color: #fff;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/DetailCard/DetailCard.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.DetailCard_detailCard__ZVpzh {
  padding: 10px 4px;
  color: #fffaf0;
  width: 100%;
  max-width: 300px;
}
.DetailCard_close-button___WEnQ {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: var(--close-button-color);
}

.DetailCard_detailCard__ZVpzh img {
  width: 100%;
  max-width: 350px;
}

.DetailCard_detailCard__ZVpzh h3 {
  color: var(--card-text);
}

.DetailCard_detailCard__ZVpzh p {
  font-size: 15px;
  color: var(--card-text);
}
