#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.theme-light {
  background-color: red;
  color: orange;
}

.theme-dark {
  background-color: blue;
  color: green;
}

.app-container {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #000000;
}

.app-container h1 {
  color: #fffaf0;
}

.app-container span {
  color: #fffaf0;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.app__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__text-container-important {
  margin-top: 10px;
  width: 100%;
  max-width: 800px;
  font-size: 18px;
  font-weight: 700;
  color: #f0f0f0;
  background: rgba(32, 178, 170, 0.9);
  border-radius: 12px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
